@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-bottom: 58px;
    margin-top: 97px;
  }
  .balanceButton {
    border-radius: 16px;
    width: 125px;
    height: 44px;
  }
}
@media screen and (min-width: 1280px) {
}
.wrapper {
  display: flex;
  margin-bottom: 9px;
}

.mobileWrapper {
  margin-top: 86px;
}

.formWrapper {
  display: flex;
  justify-content: center;
}
