@import "../../css/variables.css";

.button {
  display: block;
  width: 125px;
  height: 44px;
  border: none;
  border-radius: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 700;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  filter: var(--button-shadow);
  cursor: pointer;

  &:hover,
  :focus {
    background-color: var(--accent-color);
    color: var(--bg-color);
    filter: var(--button-shadow-accent);
    transition: 0.1s linear;
  }
}