.button{
    display: block;
    width: 125px;
    height: 44px;
    border: none;
    border-radius: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 700;
    background-color: #f6f7fb;
    color: #52555f;
    filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
    cursor: pointer;

    &:hover {
        background-color: #ff751d;
        color: #fff;
        filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
        transition: 0.1s linear;
      }
}