.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px 25px;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.btn_left {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  padding: 5px 8px;

  &::before {
    content: "\276E";
    display: block;
    color: #ff751d;
  }
}

.btn_right {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  padding: 5px 8px;
  &::after {
    content: "\276F";
    display: block;
    color: #ff751d;
  }
}
