.cabbageGroup {
  display: block;
  width: 49px;
  height: 89px;
  z-index: -1;
  position: absolute;
  @media screen and (min-width: 1280px) {
    top: 1030px;
    left: 10px;
    width: 1270px;
    height: 232px;
    background-image: url(../../../images/background/cabbage-svg-group.svg);
  }
}

.firstTabletCabbage {
  z-index: -1;
  position: absolute;
  top: 1092px;
  left: 497px;
}

.firstTabletCabbageShadow {
  z-index: -1;
  position: absolute;
  top: 1201px;
  left: 502px;
}

.secondTabletCabbage {
  z-index: -1;
  position: absolute;
  top: 1073px;
  left: 591px;
}

.secondTabletCabbageShadow {
  z-index: -1;
  position: absolute;
  top: 1185px;
  left: 613px;
}
