.link {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  color: rgba(82, 85, 95, 0.7);
  text-decoration: none;
}

.linkText {
  margin-right: 15px;
}

.linkWrapper {
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .linkWrapper {
    margin-left: 111px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .linkWrapper {
    margin-left: 205px;
    margin-bottom: 0;
  }
}
