.section {
  display: flex;
  justify-content: center;
}

.link {
  color: #000000;
}

.activeLink {
  color: #ff751d;
}

.balanceWrapper {
  margin-top: 71px;
  margin-left: 19px;
}

@media screen and (min-width: 768px) {
  .balanceWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
