@import "../../css/variables.css";

.transactionForm {
  display: flex;
  // mobile
  flex-direction: column;
  border: 2px solid #ffffff;
  border-radius: 16px;
  border-bottom-left-radius: none;
  // padding-top: 15px;
}

// input 'описание товара' {
// text input 'описание товара'  {
// width: 155px;
// height: 40px; } }

.transactionInput {
  // mobile

  width: 282px;
  // height: 44px;
  padding: 2px 0 2px 20px;
  border-bottom: 2px solid #ffffff;

  font-family: var(--font-family); //вероятно перенести в общак?
  font-style: normal; //вероятно перенести в общак?
  font-weight: normal; //вероятно перенести в общак?
  font-size: 12px; //вероятно перенести в общак?
  line-height: 1.167; //вероятно перенести в общак?
  color: var(--additional-text-color);
  letter-spacing: 0.02em; //вероятно перенести в общак?
}

// input 'категория товара'  {
// text input 'категория товара' {
// }
// иконка "выпадашки" {
//   position: absolute;
//   width: 4px;
//   height: 10px;

//   border: 2px solid #c7ccdc;
//   transform: rotate(-90deg);
//   top: 20px;
//   -bottom: 20px;
//   -right: 22px;
// }
// }

.productCategoryInput {
  //mobile
  border: none;
}

// сумма+калькулятор {
//   width: 183px;
// height: 44px;

.productSumContainer {
  //mobile
  width: 183px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

// input 'сумма'{

//
// height: 44px;

// pt, pb: 12px
// pl: 3px
// pr:17px

// border: 2px solid #FFFFFF;
// box-sizing: border-box;
// border-radius: 22px 0px 0px 22px;
// текст {
//   width: 105px;
//   height: 20px;

// }

// }

.productSumLabel {
  //mobile
  position: absolute;
  top: 12px;
  right: 15px;
}
.productSumInput {
  //mobile
  position: relative;

  width: 125px;
  border-right: 2px solid #ffffff;

  font-family: var(--font-family); //вероятно перенести в общак?
  font-style: normal; //вероятно перенести в общак?
  font-weight: bold;
  font-size: 12px; //вероятно перенести в общак?
  line-height: 1.167px; //вероятно перенести в общак?
  // text-align: right;
  letter-spacing: 0.02em; //вероятно перенести в общак?
  text-transform: uppercase;
  color: var(--title-color);
}

// блок "калькулятор"{

// transform: matrix(-1, 0, 0, 1, 0, 0);
// иконка "калькулятора"{
// https://react-icons.github.io/react-icons
// npm install react-icons --save
// usage
// import { BiCalculator } from 'react-icons/bi';
// class Question extends React.Component {
//   render() {
//     return <h3> Lets go for a <FaBeer />? </h3>
//   }
// }

//BiCalculator//RiCalculatorLine

// width: 20px;
// height: 20px;
// }
// }

.productSumIcon {
  // mobile
  display: block;
  width: 60px;
  height: 44px;
  text-align: center;
  padding: 12px 20px;
}

// блок кнопок
.formButtonsContainer {
  margin-top: 83px;
  width: 265px;
  //   height: 44px;
}

//   button {
//     pt, pb: 12px
//     pl, pr: 34px/25px //по заполнению (проверить?)
//     text {
//       width: 57px/75px;
//       height: 20px;

//       font-family: Roboto;
//       font-style: normal;
//       font-weight: bold;
//       font-size: 12px;
//       line-height: 14px;
//       display: flex;
//       align-items: center;
//       text-align: center;
//       letter-spacing: 0.02em;
//       text-transform: uppercase;

//       color: #ffffff;
//     }
//   }
//   active {
//     position: absolute;
//     width: 125px;
//     height: 44px;
//     left: 27px;
//     top: 353px;

//     background: #ff751d;
//     border-radius: 16px;
//   }
//   static {
//     position: absolute;
//     width: 125px;
//     height: 44px;
//     left: 167px;
//     top: 353px;

//     background: #f5f6fb;
//     box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
//     border-radius: 16px;
//   }
// }

// .categoryList {
// }

// tablet

// desktop

// -----------

// .form p {
//   margin-bottom: 5px;
// }

// .form button {
//   display: block;
//   margin: 10px auto 0;
// }

// .hidden-list {
//   display: none;
// }

// .label-country {
//   position: relative;
//   display: inline;
// }

// .datalist-country {
//   position: absolute;
//   z-index: 110;
//   max-height: 170px;
//   width: 270px;
//   overflow: auto;
//   background-color: var(--form-input-background);
//   backdrop-filter: blur(20px);
//   cursor: pointer;

//   font-family: Montserrat;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 16px;
//   line-height: 1.25;
//   color: var(--form-imput-text-active);
//   text-align: left;
//   vertical-align: top;
//   // :hover,
//   :focus {
//     background-color: var(--form-imput-bgc-active);
//   }

//   &::after {
//     content: "";
//     background-image: url(./../images/line.svg);
//     background-repeat: no-repeat;
//     position: absolute;
//     width: 226px;
//     height: 1px;
//     left: 22px;
//     top: 1px;
//   }
//   border-radius: 0 0 20px 20px;

//   li {
//     padding-left: 30px;
//     padding-top: 2px;
//     outline: none;
//   }
//   :first-child {
//     margin-top: 6px;
//   }
// }

// .datalist-item:hover {
//   background-color: var(--form-imput-bgc-active);
// }

// .input-country {
//   // & :hover,
//   &:focus {
//     border-radius: 20px 20px 0 0;
//   }
// }

// .datalist-country::-webkit-scrollbar {
//   width: 11px;
//   background-color: transparent;
// }

// .datalist-country::-webkit-scrollbar-thumb {
//   border-radius: 11px;
//   height: 43px;
//   background-color: var(--form-input-text);
//   background-clip: content-box;
//   border: 3px solid transparent;
// }

// .datalist-country::-webkit-scrollbar-track {
//   border-radius: 11px;
//   height: 43px;
//   background-color: transparent;
// }
