@import "../../css/variables.css";

.transactionForm {
  margin: 15px auto 0; //нужно править
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-color); //взамен фонового изображения
  // border: 1px solid orange; //для тестирования оставляю

  @media screen and (min-width: 768px) {
    // background-color: lavender; ////для тестирования оставляю
    background: none; ////пока нет фоновой картинки
    width: 604px;
    justify-content: space-between;
    padding: 10px 0;
    @media screen and (min-width: 1280px) {
      width: 1020px;
      flex-direction: row;
    }
  }
}

.transactionInputsContainer {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.dateInputContainer {
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    margin-right: 33px;
    padding: 2px 0;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 25px;
  }
}

.productDescriptionInput {
  display: block;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  width: 282px;
  padding: 13px 0 13px 20px;

  color: var(--additional-text-color);

  &:active,
  &:focus {
    outline: 0;
    outline-offset: 0;
    border-bottom-right-radius: 0px;
    border-bottom-color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    border: 2px solid var(--bg-color);
    width: 192px;
    border-top-right-radius: 0;
  }
  @media screen and (min-width: 1280px) {
    width: 289px;
  }
}

.productCategoryInput {
  display: block;

  width: 282px;
  padding: 13px 0 13px 20px;

  border: 2px solid #ffffff;
  border-top: none;
  border-bottom-right-radius: 16px;

  color: var(--additional-text-color);
  background-color: transparent;

  text-align: left;
  &.active {
    border-radius: 0;
  }

  @media screen and (min-width: 768px) {
    width: 171px;

    border: 2px solid var(--bg-color);
    // border-top: 2px solid var(--bg-color);
    border-left: none;
    border-bottom-right-radius: 0;
  }
  @media screen and (min-width: 1280px) {
    width: 188px;
  }
}

.productCategoryContainer {
  position: relative;
  cursor: pointer;
}

.productSumContainer {
  position: relative;
  margin-top: 30px;

  display: inline-flex;
  flex-direction: row;
  justify-content: center;

  width: 183px;

  @media screen and (min-width: 768px) {
    width: 104px;
    margin-top: 0;
  }
  @media screen and (min-width: 1280px) {
    width: 124px;
  }
}

// input 'сумма'{
// height: 44px;
// pt, pb: 12px
// pl: 3px
// pr:17px
// border: 2px solid #FFFFFF;
// border-radius: 22px 0px 0px 22px;
// текст {
//   width: 105px;
//   height: 20px;

// }

// }
.productSumInput {
  position: relative;

  width: 125px;
  background-color: transparent;
  padding: 13px 45px 13px 0;
  border: 2px solid #ffffff;
  border-radius: 22px 0px 0px 22px;

  font-weight: 700;
  text-align: right;
  // font-family: var(--font-family); //перенес в index.css
  // font-style: normal; //перенес в index.css

  // font-size: 12px; //перенес в index.css
  // line-height: 1.167; //перенес в index.css

  // letter-spacing: 0.02em; //перенес в index.css

  &:active,
  &:focus {
    outline: 0;
    outline-offset: 0;
  }

  &::placeholder {
    text-decoration-color: var(--additional-text-color);
  }

  @media screen and (min-width: 768px) {
    border-color: var(--bg-color);
    font-weight: 400;
    color: var(--additional-text-color);
    border-radius: 0;
    width: 70px;
    padding-right: 10px;
    border-left: none;
    border-right: none;
  }
  @media screen and (min-width: 1280px) {
    padding-right: 6px;
    width: 80px;
  }
}

.productSumLabel {
  position: absolute;
  top: 15px;
  right: 75px;

  font-weight: bold;

  text-transform: uppercase;

  color: var(--title-color);

  // font-family: var(--font-family); //перенес в index.css
  // font-style: normal; //перенес в index.css
  //   font-size: 12px; //перенес в index.css
  // line-height: 1.167; //перенес в index.css
  // letter-spacing: 0.02em; //перенес в index.css
}

// блок "калькулятор"{

// transform: matrix(-1, 0, 0, 1, 0, 0);
// иконка "калькулятора"{
// https://react-icons.github.io/react-icons
// npm install react-icons --save
//BiCalculator//RiCalculatorLine
// width: 20px;
// height: 20px;
// }

.productSumIcon {
  display: inline-block;
  height: 44px;
  text-align: center;
  padding: 8px 19px;
  border: 2px solid #ffffff;
  border-left: none;
  border-radius: 0px 22px 22px 0px;
  @media screen and (min-width: 768px) {
    border: 2px solid var(--bg-color);
    border-radius: 0px 16px 16px 0px;
    border-left: none;
    padding: 8px 8px 8px 4px;
  }
  @media screen and (min-width: 1280px) {
    padding: 8px 18px 8px 4px;
  }
}

// блок кнопок
.formButtonsContainer {
  display: inline-flex;
  justify-content: space-between;

  margin-top: 83px;
  width: 265px;
  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 0;
  }
}

//   button {
//     pt, pb: 12px
//     pl, pr: 34px/25px //по заполнению (проверить?)
//     text {
//       width: 57px/75px;
//       height: 20px;

//       font-family: Roboto;
//       font-style: normal;
//       font-weight: bold;
//       font-size: 12px;
//       line-height: 14px;
//       display: flex;
//       align-items: center;
//       text-align: center;
//       letter-spacing: 0.02em;
//       text-transform: uppercase;

//       color: #ffffff;
//     }
//   }
//   active {
//     position: absolute;
//     width: 125px;
//     height: 44px;
//     left: 27px;
//     top: 353px;

//     background: #ff751d;
//     border-radius: 16px;
//   }
//   static {
//     position: absolute;
//     width: 125px;
//     height: 44px;
//     left: 167px;
//     top: 353px;

//     background: #f5f6fb;
//     box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
//     border-radius: 16px;
//   }
// }

//----свалка---//
// .transactionInput {
// display: block;
// background-color: transparent;
// border: 2px solid #ffffff;
// width: 282px;
// padding: 13px 0 13px 20px;

// font-family: var(--font-family); //вероятно перенести в общак?
// font-style: normal; //вероятно перенести в общак?
// font-weight: 400; //вероятно перенести в общак?
// font-size: 12px; //вероятно перенести в общак?
// line-height: 1.167; //вероятно перенести в общак?
// color: var(--additional-text-color);
// letter-spacing: 0.02em; //вероятно перенести в общак?

// &:active,
// &:focus {
//   outline: 0;
//   outline-offset: 0;
//   border-bottom-right-radius: 0px;
//   border-bottom-color: var(--accent-color);
// }

// @media screen and (min-width: 768px) {
//   border: 2px solid var(--bg-color);
// }
// }
