.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.buttonWrapper {
  margin-bottom: 43px;
}

.buttonText {
  letter-spacing: 0.04em;
  color: rgba(82, 85, 95, 0.7);
}

.secondButton {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .buttonWrapper {
    margin-left: 111px;
    margin-bottom: 0;
  }

  .buttonIcon {
    margin-right: 15px;
  }

  .button {
    width: auto;
    height: auto;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .buttonWrapper {
    margin-left: 205px;
    margin-bottom: 0;
  }
}
