@import "./../../css/variables.css";

.bar {
  fill: var(--additional-accent-color);
}
.bar__accent {
  fill: var(--accent-color);
}
.notification {
  font-size: 18px;

  color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .container {
    padding: 20px 20px 20px 20px;
    background: #fff;
    border-radius: 30px;
    box-shadow: var(--box-shadow-tablet-desktop);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 25px 151px 25px 151px;
  }
}
