.balanceTitle {
  margin-bottom: 6px;
  font-weight: 500;
  text-align: center;
  color: rgba(82, 85, 95, 0.7);
}

.balanceTitleMargin {
  margin-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .balanceTitle {
    margin-right: 21px;
    margin-bottom: 0px;
  }
}
