/* li {
  list-style: none;
}

a {
  text-decoration: none;
} */

body {
  outline: #ff751d;
}

.appContainer {
  box-sizing: border-box;
  text-align: center;
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 200vh;
  min-width: 320px;
  width: 320px;
  margin: 0 auto;
  padding: 0 10px;

  border: rgb(211, 170, 121) 1px dotted; /* можно использовать  во время разработки, чтобы увидеть размер контейнера*/

  overflow: hidden;
}

/* @media screen and (min-width: 320px) {
  .app {
    width: 320px;
  } */
/* } */
@media screen and (min-width: 768px) {
  .appContainer {
    padding: 0 52px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .appContainer {
    width: 1280px;
    padding: 0 110px;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

/* for CustomSelect - may remove to module*/
/* 
.App {
  font-family: cursive;
}

.title {
  text-align: center;
}

.custom-select-container {
  display: inline-block;
  min-width: 250px;
  text-align: center;
  position: relative;
}

.selected-text {
  background-color: #47eded;
  padding: 6px 20px;
  border-bottom: 1px solid #37b0b0;
}

.selected-text::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 16px;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.selected-text.active::after {
  top: 8px;
  border-color: transparent transparent #fff transparent;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.select-options {
  position: absolute;
  width: 100%;
}

li {
  list-style-type: none;
  padding: 6px 20px;
  background: #47eded;
  border-bottom: 1px solid #37b0b0;
  cursor: pointer;
}

li:hover {
  background-color: #32a6a6;
  color: #ffffff;
} */
