.balanceLabel {
  width: 125px;
  height: 44px;
}

.balanceInput {
  position: relative;
  width: 125px;
  height: 44px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 22px 0px 0px 22px;
  text-align: right;
  text-transform: uppercase;
  padding-right: 20px;
  color: #000000;
}

.balanceInputSecond {
  border-radius: 16px;
}

.balanceInputText {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.balanceTitleMargin {
  margin-bottom: 6px;
}

.balanceButton {
  width: 125px;
  height: 44px;

  font-family: Roboto;
  text-transform: uppercase;
  text-align: center;
  color: rgba(82, 85, 95, 0.7);
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 0px 22px 22px 0px;
}

.balanceButton:hover {
  background: #ff751d;
  border-radius: 0px 22px 22px 0px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .balanceForm {
    display: flex;
    align-items: center;
  }

  .balanceButton {
    border-radius: 16px;
    width: 125px;
    height: 44px;
  }

  .balanceInput {
    margin-right: 15px;
    border-radius: 16px;
  }

  .activeBalanceContainer {
    display: flex;
    align-items: baseline;
  }

  .activeBalanceWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .balanceButton {
    border-radius: 16px;
    width: 125px;
    height: 44px;
  }

  .balanceButton:hover {
    border-radius: 16px;
  }
}
