.container {
  z-index: -2;

  // position: relative; //перенес в appContainer

  // display: flex; //перенес в appContainer
  // flex-direction: column; //перенес в appContainer
  // pointer-events: none;
  // width: 100%;
  // min-width: 320px; //перенес в appContainer
  // width: 320px; //перенес в appContainer
  // margin: 0 auto; //перенес в appContainer
  // padding: 0 10px; //перенес в appContainer
  // border: none;
  // border: rgb(211, 170, 121) 1px dotted;
  // height: 100vh;
  // text-align: center; //перенес в appContainer
  // overflow: hidden; //перенес в appContainer
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../images/background/rectangle/mobile-bg@1x.png);
  min-height: 342px;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../images/background/rectangle/mobile-bg@2x.png);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../../images/background/rectangle/tablet-bg@1x.png);
    // padding: 0 52px; //перенес в appContainer
    // width: 768px; //перенес в appContainer
    min-height: 582px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../images/background/rectangle/tablet-bg@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../../images/background/rectangle/desktop-bg@1x.png);
    // padding: 0 110px;
    // width: 1280px; //перенес в appContainer
    // flex-direction: row;
    // overflow: visible;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../images/background/rectangle/desktop-bg@2x.png);
    }
  }
}

// .greyRectangle {
//   // z-index: -2;
//   // position: absolute;
//   // top: 0;
//   margin: 0 -10px;
//   background-color: #f5f6fb;
//   border-bottom-left-radius: 50%;
//   // min-width: 320px;
//   width: 100%;
//   margin: 0 auto;
//   height: 342px;
//   max-width: 400px;

//   @media screen and (min-width: 768px) {
//     margin: 0 -52px;
//     height: 582px;
//     max-width: 1280px;
//     border-bottom-left-radius: 25% 50%;
//   }
//   @media screen and (min-width: 1280px) {
//     margin: 0 -110px;
//   }
// }
