.container {
  z-index: -2;

  position: relative;

  display: flex;
  flex-direction: column;

  // width: 100%;
  min-width: 320px;
  width: 320px;
  margin: 0 auto;
  padding: 0 10px;
  // border: none;
  // border: rgb(211, 170, 121) 1px dotted;
  // height: 100vh;
  text-align: center;
  // overflow: hidden;
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../images/background/rectangle/mobile-bg@1x.png);
  min-height: 342px;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../images/background/rectangle/mobile-bg@2x.png);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../../images/background/rectangle/tablet-bg@1x.png);
    padding: 0 52px;
    width: 768px;
    min-height: 582px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../images/background/rectangle/tablet-bg@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../../images/background/rectangle/desktop-bg@1x.png);
    padding: 0 110px;
    width: 1280px;
    // flex-direction: row;
    // overflow: visible;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../images/background/rectangle/desktop-bg@2x.png);
    }
  }
}

// .greyRectangle {
//   // z-index: -2;
//   // position: absolute;
//   // top: 0;
//   margin: 0 -10px;
//   background-color: #f5f6fb;
//   border-bottom-left-radius: 50%;
//   // min-width: 320px;
//   width: 100%;
//   margin: 0 auto;
//   height: 342px;
//   max-width: 400px;

//   @media screen and (min-width: 768px) {
//     margin: 0 -52px;
//     height: 582px;
//     max-width: 1280px;
//     border-bottom-left-radius: 25% 50%;
//   }
//   @media screen and (min-width: 1280px) {
//     margin: 0 -110px;
//   }
// }
