.navList {
  z-index: +2;
  display: flex;
  margin: 0;
  margin-left: 0;
  position: fixed;
  bottom: 0;
  padding-top: 10px;
  width: 320px;
  list-style-type: none;
  @media screen and (min-width: 768px) {
    position: static;
  }
}

.link {
  text-align: center;
  padding: 0;
  width: 148px;
  height: 53px;
  border-radius: 0 0 0 0;
  border-right: 2px solid white;
  border-left: 2px solid white;
  background-color: #f5f6fb;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    background: #ff751d;
    color: white;
    transition: 0.1s linear;
  }

  @media screen and (min-width: 768px) {
    border-radius: 20px 20px 0 0;
    border: none;
    background-color: #fafbfd;
    width: 138px;
    height: 40px;
    color: black;

    &:hover,
    &:focus {
      color: #ff751d;
      background-color: #fafbfd;
    }
  }
}

.active {
  text-align: center;
  width: 148px;
  height: 53px;
  border-radius: 0 0 0 0;
  border-right: 2px solid white;
  border-left: 2px solid white;
  background-color: #f5f6fb;
  border: none;
  outline: none;
  color: #ff751d;

  &:hover,
    &:focus
    // &:active
  {
    background: #ff751d;
    color: white;
    transition: 0.1s linear;
  }

  @media screen and (min-width: 768px) {
    border-radius: 20px 20px 0 0;
    border: none;
    background-color: #fafbfd;
    width: 138px;
    height: 40px;
    color: #ff751d;

    &:hover,
    &:focus {
      background: #fafbfd;
      color: #ff751d;
      transition: 0.1s linear;
    }
  }
}

.titleActive {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.titleLink{
  font-weight: 700;
  font-size: 12px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}