.navList {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  @media screen and (min-width: 768px) {
    display: flex;
    position: static;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  padding: 5px 25px;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    &:hover,
    &:focus,
    &:active {
      color: #ff751d;
    }
  }
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 53px;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  cursor: pointer;
  border: none;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    background: #ff751d;
      outline: none;
    @media screen and (min-width: 768px) {
      background: #fafbfd;
      
    }
  }
  @media screen and (min-width: 768px) {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    font-weight: 700;
    font-size: 12px;
    line-height: calc(14 / 12);
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }
  &.active {
  color: #fefefe;
  background: #ff751d;

}
}

// .activeLink {
//   color: #fefefe;
//   background: #ff751d;
//   @media screen and (min-width: 768px) {
//     color: #ff751d;
//     background: #fefefe;
//   }
// }

// .noActiveLink {
//   color: #000000;
//   background: #fafbfd;
// }

// @media screen and (min-width: 768px) {
//   .navList {
//     display: flex;
//     position: static;
//     padding: 0;
//     margin: 0;
//     list-style-type: none;
//   }

//   .link {
//     text-decoration: none;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 138px;
//     height: 40px;
//     border-radius: 20px 20px 0 0;
//     font-weight: 700;
//     font-size: 12px;
//     line-height: calc(14 / 12);
//     text-transform: uppercase;
//     letter-spacing: 0.02em;
//   }

//   .activeLink {
//     color: #ff751d;
//     background: #fefefe;
//   }

//   .noActiveLink {
//     color: #000000;
//     background: #fafbfd;
//   }
// }

// .navList {
//   position: fixed;
//   left: 50%;
//   transform: translateX(-50%);
//   bottom: 0;
//   display: flex;
//   padding: 0;
//   margin: 0;
//   width: 320px;
// }

// .navLink {
//   // text-decoration: none;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 50%;
//   height: 53px;
//   font-weight: 700;
//   font-size: 12px;
//   line-height: calc(14 / 12);
//   text-transform: uppercase;
//   letter-spacing: 0.02em;
//   color: #000000;
//   background: #fafbfd;
// }

.active {
  color: #fefefe;
  background: #ff751d;

}

// .activeLink {
//   color: #fefefe;
//   background: #ff751d;
// }

// // .noActiveLink {
// //   color: #000000;
// //   background: #fafbfd;
// // }

// @media screen and (min-width: 768px) {
//   .navList {
//     display: flex;
//     position: static;
//     padding: 0;
//     margin: 0;
//   }
// }
