@import url(../../../css/variables.css);

// ---шапка таблицы--//
.main {
  // border: 2px solid #f5f6fb;
  width: 605px;
  border-radius: 20px 20px 0px 0px;
  background-color: var(--bg-color);
  table-layout: fixed;
  border: none;

  @media screen and (min-width: 1280px) {
    width: 760px;
  }

  // .main {
  //   text-align: center;
  //   color: var(--title-color);
  //   border-spacing: 0px 2px;
  //   border-left: 2px;
  //   border-left-style: outset;
  //   border-right-style: inset;
  //   border-right-color: transparent;
  //   border-left-color: transparent;

  // .scroll_table table {
  //   // width: 100%;
  //   table-layout: fixed;
  //   border: none;
  // }
  // }
}

// .theadTable {
//   display: none;
//   align-items: center;
//   height: 38px;
//   font-size: 13px;
//   font-weight: normal;
// }

@media screen and (min-width: 768px) {
  .theadTable {
    display: revert;
  }
}

.scroll_table thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  // font-size: 12px;
  text-transform: uppercase;

  //   .th {
  //   padding: 10px;
  //   text-transform: uppercase;
  //   color: rgb(0, 0, 0);
  //   align-items: center;
  //   // letter-spacing: 0.02em;
  //   font-weight: bold;
  //   // font-style: normal;
  // }
}

.scroll_table tbody td {
  text-align: left;
  padding: 5px 15px;
  font-size: 12px;
  // vertical-align: top;
  border-bottom: 2px solid #f4f6fb;
}

.scroll_table__body {
  height: 344px;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  border: 2px solid #f5f6fb;
  @media screen and (min-width: 768px) {
    height: 346px;
  }
}

.td {
  display: revert;
  align-items: center;
  height: 38px;
  padding: 0 8px;
  background: #ffffff;
  color: #52555f;
  border-bottom: 2px solid #f4f6fb;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: 0.04em;
}

.tdSum {
  font-weight: bold;

  color: var(--incomes-text-color);
}
.tdSumExpense {
  font-weight: bold;
  color: var(--costs-text-color);
}

.deleteBtn {
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  display: block;
  width: 18px;
  height: 18px;
  padding: 16px;
  border: transparent;
  background-color: transparent;
  background-image: url(../../../images/icons/delete-icon.svg);
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  color: #52555f;
  &:hover {
    background-color: var(--bg-color);
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}

/* Стили для скролла */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f5f6fb;
}
::-webkit-scrollbar-thumb {
  background-color: #ff751d;
  border-radius: 2px;
}
