.item {
  display: flex;
  align-items: center;
  margin-right: 35px;
  font-size: 16px;
  line-height: 18px;
}

.personalInf {
  margin-right: 20px;
}

.avatar {
  margin-right: 20px;
  width: 16px;
  height: 16px;
}

.name {
  margin-right: 20px;
}

.vector {
  width: 0px;
  height: 36px;
  color: #e0e5eb;
}

.text {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #52555f;
}

.button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-decoration: underline;

  &:hover {
    color: #ff751d;
  }
}

@media screen and (max-width: 767px) {
  .icon {
    fill: #c7ccdc;
  }
  .icon:hover {
    fill: #ff751d;
  }
  .personalInf {
    margin: 0;
    padding: 0;
  }
  .button,
  .vector,
  .name {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .icon_container {
    display: none;
  }
}
