.item {
  display: flex;
  align-items: center;
  margin-right: 35px;
  font-size: 16px;
  line-height: 18px;
}

.personalInf {
  margin-right: 20px;
}

.avatar {
  margin-right: 20px;
  width: 16px;
  height: 16px;
}

.name {
  margin-right: 20px;
}

.vector {
  width: 0px;
  height: 36px;
  color: #e0e5eb;
}

@media screen and (max-width: 767px) {
  .personalInf {
    margin: 0;
    padding: 0;
  }

  .vector,
  .name {
    display: none;
  }
}
