.firstTabletCabbage {
  z-index: -1;
  position: absolute;
  top: 1052px;
  left: 497px;
}

.firstTabletCabbageShadow {
  z-index: -1;
  position: absolute;
  top: 1161px;
  left: 502px;
}

.secondTabletCabbage {
  z-index: -1;
  position: absolute;
  top: 1033px;
  left: 591px;
}

.secondTabletCabbageShadow {
  z-index: -1;
  position: absolute;
  top: 1145px;
  left: 613px;
}

.cabbageGroup {
  z-index: -1;
  position: absolute;
  top: 656px;
  left: 10px;
}
